{% extends 'base.html' %}
{% block title %}Все рецепты напитков на нашем сайте{% endblock %}
{% block content %}
    <h1>Все рецепты напитков на нашем сайте</h1>
    <ul>
        {% for cocktail in cocktail %}
            <li>
                <a href="{% url 'cocktail:all_cocktails' cocktail.slug %}">
                    {{ cocktail.title }} , {{ cocktail.date_register }} , {{ cocktail.image }}
                </a>
            </li>
        {% empty %}
            <li>Пока рецептов нет</li>
        {% endfor %}
    </ul>
{% endblock %}
