{% extends 'base.html' %}
{% block title %}Все рецепты напитков на нашем сайте{% endblock %}
{% block content %}
    <h1>Все рецепты напитков на нашем сайте</h1>
    <ul>
    {% for cocktail in cocktails %}
            <li>
                <a href="{% url 'cocktail:cocktail_detail' cocktail.slug %}">
                    <img class="image_main" src="{{ cocktail.image.url }}" alt="{{ cocktail.title }}">
                    {{ cocktail.title }} , {{ cocktail.date_register }}
                </a>
            </li>
        {% empty %}
            <li>Пока рецептов нет</li>
        {% endfor %}
{#        {% for cocktail in cocktail %}#}
{#            <li>#}
{#                <a href="{% url 'cocktail:all_cocktails' cocktail.slug %}">#}
{#                    {{ cocktail.title }} , {{ cocktail.date_register }} , {{ cocktail.image }}#}
{#                </a>#}
{#            </li>#}
{#        {% empty %}#}
{#            <li>Пока рецептов нет</li>#}
{#        {% endfor %}#}
    </ul>
{% endblock %}
