{% extends 'base.html' %}
{% load static %}
{% block title %}{% if cocktail %} {{ cocktail.name }} {% else %} Все рецепты {% endif %}{% endblock %}
{% block content %}

<h1>{% if cocktail %} {{ cocktail.name }} {% else %} Все рецепты {% endif %}</h1>

{% if cocktail %}
{#    <img src="{% static 'recipe_images/' %}{{ cocktail.image.url }}" alt="{{ cocktail.name }}">#}
    <p>{{ cocktail.description }}</p>
    <p><strong>Ингредиенты:</strong> {{ cocktail.ingredients }}</p>
    <p><strong>Инструкции:</strong> {{ cocktail.preparation_steps }}</p>
{% else %}
    <ul>
        {% for recipe in all_recipes %}
            <li>
                <a href="{% url 'cocktail:cocktail_detail' cocktail_id=recipe.pk %}">
                    {% if recipe.image %}
                        <img src="{% static '' %}{{ recipe.image.url }}" alt="{{ recipe.name }}">
                    {% endif %}
                    {{ recipe.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}