<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User authenticate</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
</head>
<body class="container">
<div class="inline_format">
    <div>
        <a class="logo_drink" href="{% url 'cocktail:home' %}"><h1>Verre</h1></a>
        <p class="txt_logo">Рецепты алкогольных и безалкогольных коктейлей</p>
    </div>

    <div class="cont_mainnn">
        <div>
            {{ user }}
        </div>
        <div>
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a> |
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</div>

{% block content %}
{% endblock %}
<script src="{% static "js/bootstrap.bundle.js" %}"></script>
</body>
</html>