<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User authenticate</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
</head>
<body class="container">
<div class="inline_format">
    <div>
        <h1>Verre</h1>
        <p class="txt_logo">Рецепты алкогольных и безалкогольных коктейлей</p>
    </div>

    <div class="cont_mainnn">
        <div>
            {{ user }}
        </div>
        <div>
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a> |
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</div>
<div>
    {% if not user.is_authenticated %}
        <p class="txt_log">Наслаждайтесь готовыми рецептами и делитесь своими (нужна регистрация)
            {% else %}
        <div class="header_main">
            <ul class="head_main_ull">
                <li><a class="non_line" href="{{ add_category }}">Создать новую категорию</a></li>
                <li><a class="non_line" href="{{ add_recipe }}">Добавить новый рецепт</a></li>
                <li><a class="non_line" href="{{ add_ingredient }}">Добавить ингридиент</a></li>
                <li><a class="non_line" href="{{ recipe_detail }}">Детально</a></li>
            </ul>
        </div>

    {% endif %}
</div>
{% block content %}
{% endblock %}
<script src="{% static "js/bootstrap.bundle.js" %}"></script>
</body>
</html>