{% extends "base.html" %}
{% block content %}
    <h1>Home page</h1>    
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log out</button>    
        </form>
    {% else %}
    	<a href="{% url 'login' %}">Login</a> | 
        <a href="{% url 'register' %}">Register</a>
    {% endif %} 
 <h1>Наши рецепты</h1>
    <div class="container">
        {% for recipe in cocktail %}
            <div class="recipe-item">
                <h2><a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a></h2>
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                <p>{{ recipe.description|truncatechars:150 }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}