{% extends "base.html" %}
{% block content %}
    <h1>Home page</h1>    
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log out</button>        
    {% else %}
    	<a href="{% url 'login' %}">Login</a> | 
        <a href="{% url 'register' %}">Register</a>
    {% endif %} 
     <h2>Featured Recipes</h2>
    <ul>
        {% for recipe in recipes %}
            <li>{{ recipe.title }} - {{ recipe.description }}</li>
        {% endfor %}
    </ul>
{% endblock %}
